* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}


h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

img.content, img.random {
    margin-bottom: 10px;
}

img.content {
    cursor: pointer;
}

img {
    border: none;
}

a img {
    border: none;
}

.container {
    margin-top: 20px;
}

.sidebar {
    position: fixed;
    float: left;
}

.main {
    position: absolute;
    left: 236px;
}

.Page {
    float: left;
    width: 704px;

    line-height: 2em;
}

.copyright {
    margin-top: 2em;
}

.Issue {
    float: left;
    clear: both;
    margin-bottom: 60px;
}

.Issue .cover {
    float: left;
}

.Issue .title {
    display: block;
    position: relative;
    left: 20px;
    color: black;
}

.Issue .year {
    display: block;
    position: relative;
    left: 20px;
    color: black;
}

.Release .Entry {
    float: left;
    clear: both;
    margin-bottom: 60px;
}

.Release .Entry .cover {
    float: left;
    width: 236px;
}

.Release .Entry .meta {
    float: left;
    width: 300px;
    display: block;
    position: relative;
    left: 20px;
}

.Release .Entry a {
    display: block;
    float: left;
    clear: both;
    color: #000;
}

.Release .Entry a:hover {
    text-decoration: none;
}

.Release .Entry .title {
    font-weight: bold;
}

.News .Item {
    margin-bottom: 60px;
    float: left;
    clear: both;
    width: 100%;
}

.News img {
    float: left;
}

.News .date {
    color: #999;
}

.Crew .List a {
    display: block;
}

.Contact ul {
    list-style-type: none;
}

.Contact .vienna {
    float: left;
    clear: both;
    margin-right: 20px;
}

.Contact ul {
    margin-bottom: 20px;
}

.Footer {
    padding-top: 40px;
    clear: both;
    font-style: italic;
}

.buy {
    display: block;
    font-weight: bold;
}

.soldOut {
    display: block;
    font-weight: bold;
}

