<div class='Page Contact'>
  <img ng-src='vinz/06_Contact/sattelit.png' />
  <p>
    for further information about FRANZ write to <a href='mailto:austrionaut@gmail.com'>austrionaut@gmail.com</a> or visit FRANZ on <a
      href='http://www.facebook.com/austrionaut'>Facebook</a>
  </p>
  <h3>FRANZ is available at:</h3>

  <div class='vienna'>
    <h4>Vienna</h4>
    <ul>
      <li><a href='http://www.salon-fuer-kunstbuch.at/'>Salon für Kunstbuch</a></li>
      <li><a href='http://salon-fuer-kunstbuch.at/blog/21erhaus/'>Salon für Kunstbuch / 21erhaus</a></li>
      <li><a href='http://lia.wolf.at/'>Lia Wolf</a></li>
      <li><a href='http://www.motmotshop.com/'>motmotshop</a></li>
      <li><a href='http://www.buchhandlung-walther-koenig.de'>Walter König</a></li>
      <li><a href='http://www.komischekuenste.com/'>Komische Künste</a></li>
      <li><a href='http://phil.info/'>Phil</a></li>
      <li><a href='http://www.morawa-buch.at/home/standorte/Wollzeile'>Morawa</a></li>
      <li><a href='https://www.facebook.com/transformermusic'>Transformer</a></li>
      <li><a href='https://www.pictopia.at/'>Pictopia</a></li>
      <li><a href='https://takotoka.com/'>Takotoka</a></li>
    </ul>
  </div>

  <div class='berlin'>
    <h4>Berlin</h4>
    <ul>
      <li><a href='http://www.bongout.org/'>Bongoût</a></li>
      <li><a href='http://www.neurotitan.de/'>Neurotitan</a></li>
      <li><a href='http://www.mottodistribution.com/site/?page_id=1020'>Motto Berlin</a></li>
      <li><a href='https://schikkimikki.diamonds/'>schikkimikki</a></li>
    </ul>
  </div>

  <div class='hamburg'>
    <h4>Hamburg</h4>
    <ul>
      <li><a href='http://www.strips-stories.de/'>Strips and Stories</a></li>
      <li><a href='http://www.sautter-lackmann.de/'>Sauther & Lackmann</a></li>
    </ul>
  </div>

  <div class='graz'>
    <h4>Graz</h4>
    <ul>
      <li><a href='http://www.buchmoser.at/'>Moser</a></li>
    </ul>
  </div>

  <div class='Footer'>
    <p>
      © 2013 FRANZ THE LONELY AUSTRIONAUT Magazine for Narrative Drawing. All Rights Reserved.
    </p>
    <p>
      Für die Inhalte externer Links übernehmen wir trotz sorgfältiger Prüfung keine Verantwortung / <a href='#Impressum'>Impressum</a>
    </p>
  </div>
</div>
