<div class='Page Mission'>
  <img class='random' alt='mission' width='704' height='512' ng-src='{{ current.img }}' />
  <h2>FRANZ THE LONELY AUSTRIONAUT - Magazine for Narrative Drawing</h2>
  <p>
    FRANZ was founded in 2010 by a group of artists looking for a way to publish their artwork in a more independent way. The self-published zine was named after the one and only austrian cosmonaut Franz Viehböck.
    <br />
    The magazine focuses on drawings and graphics with a narrative. Every issue is built around a common topic. FRANZ is working towards a larger understanding for the media comic in the austrian art world, as well as increasing its presence in local production.
  </p>
  <p class='copyright'>picture: {{ current.copyright }}</p>
</div>
