<div class='Page Mission'>
  <img class='random' alt='mission' width='704' height='512' ng-src='{{ current.img }}' />
  <h2>FRANZ THE LONELY AUSTRIONAUT - Magazine for Narrative Drawing</h2>
  <p>
    Named after the one and only austrian astronaut Franz Viehböck, FRANZ started in 2010 as a small self-published zine made by a group of art-students searching for a way to publish there
    artworks in a more self-determined way. The magazine has a focus on the drawn picture and its narrative qualities and every issue has a central topic. It is also a goal to get more presence
    and interest for the medium comic in the austrian art world.
  </p>
  <p class='copyright'>picture: {{ current.copyright }}</p>
</div>
