<div class='Page News'>
  <div class='Item'>
    <img ng-src='vinz/05_News/news3.png' />
    <p>
      Franz did a collaboration with the magazine Anstalten.
      <br />
      What is happening here? Feel free to answer.
    </p>
    <p>
      <a href='http://www.anstalten.at/waspassierthier'>http://www.anstalten.at/waspassierthier</a>
    </p>
  </div>
  <div class='Item'>
    <img ng-src='vinz/05_News/news2.png' />
    <p>
      Franz is at the make.a.ZINE fair at Künstlerhaus from 23.-26.5.
    </p>
    <p>
      <a href='https://www.facebook.com/events/113905192146963/'>https://www.facebook.com/events/113905192146963/</a>
    </p>
  </div>
</div>
