<div class='Page News'>
  <div class='Item'>
    <img ng-src='vinz/05_News/news8.png' />
    <p>
      Get a Franz at HUFAK Christmas-Market
      <br />
      <a href="https://www.facebook.com/events/401945893303414/">18.12. at die Angewandte</a>
    </p>
    <p class='date'>
      12.12.2014
    </p>
  </div>
  <div class='Item'>
    <img ng-src='vinz/05_News/news7.png' />
    <p>
      Franz is a maker
      <br />
      at makers market 2014
      <br />
      <a href="https://www.facebook.com/events/1505806729671597/">14.12. Paradocks</a>
    </p>
    <p class='date'>
      12.12.2014
    </p>
  </div>
  <div class='Item'>
    <img ng-src='vinz/05_News/news6.png' />
    <p>
      Franz will be in tha house 
      <br />
      at Zine Store Day 2014
      <br />
      <a href="https://www.facebook.com/events/1475370296076858/">13.12. Transporter bar</a>
    </p>
    <p class='date'>
      12.12.2014
    </p>
  </div>
  <div class='Item'>
    <img ng-src='vinz/05_News/news6.jpg' />
    <p>
      FRANZ THE LONELY AUSTRIONAUT #9 THE WEST ISSUE
      <br />
      RELEASE PARTY
      <br />
      27.11. 20:00 at <a href='http://www.celeste.co.at/'>CELESTE</a>
    </p>
    <p class='date'>
      22.11.2013
    </p>
  </div>
  <div class='Item'>
    <img ng-src='vinz/05_News/news5.jpg' />
    <p>
      FRANZ Danger issue will be sold at the awesome temporary design shop <a href='https://www.facebook.com/neubauwien'>NEUBAU</a> !!!
      <br />
      opening: 26.9. 16:00
    </p>
    <p>
      <a href='https://www.facebook.com/events/230810910403734/'>https://www.facebook.com/events/230810910403734/</a>
    </p>
    <p class='date'>
      21.09.2013
    </p>
  </div>
  <div class='Item'>
    <img ng-src='vinz/05_News/news4.png' />
    <p>
      meet FRANZ at the 4TH INDEPENDENT PUBLISHERS AND ZINE FAIR VIENNA from 28.-30. 6. at Kunsthalle Wien.
    </p>
    <p>
      <a href='http://www.kunsthallewien.at/?event=132'>http://www.kunsthallewien.at/?event=132</a>
    </p>
    <p class='date'>
      20.06.2013
    </p>
  </div>
  <div class='Item'>
    <img ng-src='vinz/05_News/news3.png' />
    <p>
      Franz did a collaboration with the magazine Anstalten.
      <br />
      What is happening here? Feel free to answer.
    </p>
    <p>
      <a href='http://www.anstalten.at/waspassierthier'>http://www.anstalten.at/waspassierthier</a>
    </p>
    <p class='date'>
      04.06.2013
    </p>
  </div>
  <div class='Item'>
    <img ng-src='vinz/05_News/news2.png' />
    <p>
      Franz is at the make.a.ZINE fair at Künstlerhaus from 23.-26.5.
    </p>
    <p>
      <a href='https://www.facebook.com/events/113905192146963/'>https://www.facebook.com/events/113905192146963/</a>
    </p>
    <p class='date'>
      20.05.2013
    </p>
  </div>
</div>
